node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
README.md
readme.md
.vscode
*.log
Hirly.db
.vercel
public/styling/uploads/*
!public/styling/uploads/.gitkeep
public/images/*
!public/images/logo.jpg
# No longer using local flags folder